<!--Footer-->
<footer class="site-footer">
  <div class="container">
   <div class="row">
    <!--panel 1  -->
    <div class="col-md-4">
    <div class="panel panel-default ">
  <div class="panel-heading" id="mod-panel-header">Connect with us</div>
  <div class="panel-body" id="mod-panel-body">
      
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-2"><a href="facebook.com"><img src="Images/fb.png" class="img-responsive img-circle" alt="Facebook" ></a></div>
     <div class="col-md-2 col-sm-2 col-xs-2"><a href="facebook.com"><img src="Images/twitter.png" class="img-responsive " alt="Facebook" ></a></div>
     <div class="col-md-2 col-sm-2 col-xs-2"><a href="facebook.com"><img src="images/quora.png" class="img-responsive " alt="Facebook" ></a></div>
     <div class="col-md-2 col-sm-2 col-xs-2"><a href="facebook.com"><img src="Images/youtube.png" class="img-responsive img-circle " alt="Facebook"></a></div> 
     <div class="col-md-2 col-sm-2 col-xs-2"><a href="facebook.com"><img src="images/insta.png" class="img-responsive " alt="Facebook"></a></div>
     <div class="col-md-2 col-sm-2 col-xs-2"><a href="facebook.com"><img src="Images/linkedin.png" class="img-responsive " alt="Facebook"></a></div>
</div>
         
        
  </div>
  </div>
</div>
    <!--Panel 1 End-->

      <!--panel 2  -->
    <div class="col-md-5">
    <div class="panel panel-default ">
      <div class="panel-heading" id="mod-panel-header">Important Links</div>
  <div class="panel-body" id="mod-panel-body">
   <ul  class="col-md-5 col-sm-5 ullinks f">
      <li><a href="#">Top Movies</a></li>
      <li><a href="#">Top Shows</a></li>
      <li><a href="#">Upcoming Movies</a></li>
      <li><a href="#">Upcoming Shows</a></li>
      <li><a href="#">In Theatre</a></li>
  </ul>

  <div class="vr1lg visible-lg">&nbsp;</div><!--Vertical Line large device-->
   <div class="vr1md visible-md">&nbsp;</div><!--Vertical Line for med device-->
    <div class="vr1sm visible-sm">&nbsp;</div><!--Vertical Line for small device-->
   <hr class="visible-xs "><!--Horizontal Line for x-samll Device -->
   <ul class="col-md-4 col-sm-4 ullinks f">
      <li><a href="#">Top Movies</a></li>
      <li><a href="#">Top Shows</a></li>
      <li><a href="#">Upcoming Movies</a></li>
  </ul>

  <div class="vr2lg visible-lg">&nbsp;</div><!--Vertical Line large device-->
   <div class="vr2md visible-md">&nbsp;</div><!--Vertical Line for med device-->
   <div class="vr2sm visible-sm">&nbsp;</div><!--Vertical Line for small device-->
  <hr class="visible-xs"><!--Horizontal Line for x-samll Device -->
   <ul class="col-md-3 col-sm-3 ullinks f">
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">FAQ's</a></li>
      <li><a href="#">Feedback</a></li>
      <li><a href="#">Sign Up</a></li>
  </ul>

  </div>
  </div>
</div>
    <!--Panel 2 End-->

     <!--panel 3  -->
    <div class="col-md-3">
    <div class="panel panel-default ">
  
  <div class="panel-body" id="mod-panel-body">
    <p class="text-justify footer-para">FimyHindustan does not endorse or recommend any commercial products or services. The views and opinions of authors expressed on the FilmyHindustan Web site do not necessarily state or reflect those of the FilmyHindustan editors and they may not be used for advertising or product endorsement purposes.</p>

  </div>
  </div>
</div>
    <!--Panel 3 End-->

     </div>
    <div class="bottom-footer">

      <div class="col-md-5">Copyright © 2015 <a href="">FilmyHindustan</a></div>
        <div class="col-md-7">
          <ul class="footer-nav col-xs-12">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Creator</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Site Map</a></li>
          </ul>
        </div>
     
</div>
   
  </div>
  
  </footer>